.new {
  display: flex;
  width: 100%;
  .newContainer {
      flex: 6;

      .AddDoctor{
        float: right;
        padding: 11px;
        padding-right: 41px;
      }
      .dataTable{
        margin-top: 50px;
        padding: 25px;
      }
  }
}